.TabBar-Section {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  font-size: 0.8rem;
  font-weight: 700;
}

.TabBar-Button-AllEntries {
  color: var(--color-nemo);
  text-decoration: none;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 700;
}

.TabBar-Button-Favorites {
  margin-left: 20px;
  color: var(--color-granite);
  text-decoration: none;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 700;
}

.TabBar-Button-AllEntries-Number {
  background-color: var(--color-nemo);
  color: var(--color-foam);
  border-radius: 10px;
  padding: 4px 10px 2px 10px;
}

.TabBar-Button-Favorites-Number {
  background-color: var(--color-water-10);
  color: var(--color-granite);
  border-radius: 10px;
  padding: 4px 10px 2px 10px;
}

.TabBar-Button-AllEntries:hover {
  color: green;
  text-decoration: none;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 700;
}
