.App-Main {
  background-color: var(--color-foam);
  color: var(--color-granite);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Main-Titel {
  height: 8vh;
  display: flex;
  align-items: center;
}
